.main{
  margin: 0 auto;
  max-width: 500px;
}
.content{
  border: 5px lightcoral solid;
  border-radius: 5px;
  font-size: 20px;
  background-color: rgba(123, 149, 172, 0.699);
  padding: 20px;
}
table{
  width: 100%;
}
td:first-child{
  min-width: 100%;
}
td:last-child{
  min-width: 125px;
}
th{
  text-align: left;
}

.Completed{
  text-decoration: line-through;
}
.task{
  cursor: pointer;
}